
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3" [ngClass]="{'dark-theme':isDarkMode}">
        <div class="container">
            <a class="navbar-brand" *ngIf="currentUser" [routerLink]="getHomeRoute()">SQL Trainer</a>
            <a class="navbar-brand" *ngIf="!currentUser" [routerLink]="['/']">SQL Trainer</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-label="Toggle navigation" [attr.aria-expanded]="isExpanded" (click)="toggle()">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex" [ngClass]="{ show: isExpanded }">
                <ul class="navbar-nav flex-grow me-auto">
                    <mat-slide-toggle [checked]="isDarkMode" (change)="toggleDarkMode()">Dark Mode</mat-slide-toggle>
                </ul>
                    <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="currentUser && isAdmin">
                        <a class="nav-link text-dark" [routerLink]="['/users']">Users</a>
                    </li>
                    <li class="nav-item" [routerLinkActive]='["link-active"]' *ngIf="currentUser">
                        <a class="nav-link text-dark" [routerLink]='["/testeditor"]'>Test editor</a>
                    </li>
                    <li class="nav-item" [routerLinkActive]='["link-active"]' *ngIf="currentUser && (isAdmin || isTeacher)">
                        <a class="nav-link text-dark" [routerLink]='["/teacher"]'>Gestion des quiz</a>
                    </li>
                    <li class="nav-item" [routerLinkActive]='["link-active"]' *ngIf="currentUser && (isStudent || isAdmin)">
                        <a class="nav-link text-dark" [routerLink]='["/quizzes"]'>Liste des quiz</a>
                    </li>
                    <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="!currentUser">
                        <a class="nav-link text-dark" [routerLink]="['/login']">
                            <span class="material-icons">exit_to_app</span>
                            <span> Login </span>
                        </a>
                    </li>
                    <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="!currentUser">
                        <a class="nav-link text-dark" [routerLink]="['/signup']">
                            <span class="material-icons">person_add</span>
                            <span> Sign Up </span>
                        </a>
                    </li>
                    <li class="nav-item" *ngIf="currentUser">
                        <a class="nav-link text-dark" [routerLink]='[]' (click)='logout()'>
                            <span class="material-icons">power_settings_new</span>
                            <span> Logout </span>
                            <span class="text-info">({{authenticationService.currentUser?.pseudo}})</span>
                        </a>
                    </li>
            </div>            
        </div>
    </nav>
</header>